div{
    /* border: 2px solid red; */
}
body{
    height: 100%;
    width: 100%;
    /*border: 2px solid red; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002350;
    min-height: 100vh;
}
h1{
    color: white;
    font-size: 90px;
}
.left{
    align-self: flex-start;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.nav-button{
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #002350;
}
.nav-button:hover{
    color: white;
    font-weight: bold;
    border: 5px solid white;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    min-height: 80%;
    min-width: 80%;
    gap:  5%;
}
.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    height: 100%;
    width: 100%;
}
.hangman{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letters-super{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letters{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    color: white;
}
.guess{
    color: white;
    font-size: 90px;
}
.letters>div{
    width: 100%;
    aspect-ratio: 1 / 1;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-weight: bold;
    border: 7px solid transparent;
}
.outer:hover{
    color: white;
    font-weight: bold;
    border: 7px solid white;
    cursor: pointer;
}